body {
    background-color: #FFD55A;
  }
  
  h1 {
    color: #293250;
    text-align: left;
    font-size: 66px;
    font-family: 'Bebas Neue', cursive;
  }

  ul {
    list-style-type:none;
    background-color: #6DD47E;
    border-radius: 10px;
    padding: 14px 16px;
    text-align: center;
    overflow: hidden;
  }

  li {
      font-size: 18px;
      display: inline;
      float: center;
  }

  .rightNav a {
    float:right;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }

  .leftNav a {
    float:left;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }  

  li a:hover {
    color: #293250;
  }

  #cur{
    color:#293250;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #heroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: solid;
    border-radius: 10px;
    border-color: black;
  }


  .grid-item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #6DD47E;
    padding: 10px;
    grid-gap: 10px 10px;
  }

  .grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item:hover{
    background-color: #293250;
    /*try create an on click event with JS to zoom into image.*/
  }